{{define "sign-up"}}
    {{ template "header" . }}
    <div class="row justify-content-center">
        <div class="col-4">
            <form method="post" action="/auth/register">
                <div class="mb-3">
                    <label for="username" class="form-label">Username {{template "required"}}</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email {{template "required"}}</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone {{template "required"}}</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password {{template "required"}}</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="password_confirm" class="form-label">Password Confirm {{template "required"}}</label>
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                  </div>

                <div class="mb-4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="role" id="role1" autocomplete="off" value="1" >
                    <label class="btn btn-outline-primary" for="role1">Admin</label>

                    <input type="radio" class="btn-check" name="role" id="role2" autocomplete="off" value="2" checked>
                    <label class="btn btn-outline-primary" for="role2">User</label>

                    <input type="radio" class="btn-check" name="role" id="role3" autocomplete="off" value="3" >
                    <label class="btn btn-outline-primary" for="role3">Merchant</label>
                </div>
                </div>

                <div class="mb-3">
                    Already have an account, click here to <a href="/sign-in">Sign In</a>.
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
    {{ template "footer" .}}
{{end}}